.body {
  border: solid black;
  text-align: center;
}
.button {
  text-align: bottom;
  vertical-align: end;
}
.all {
  border: 1px solid black;
  display: inline-block;
}
.input {
  margin: 5px;
  display: block;
}
