.body {
  vertical-align: left;
  border: solid black;
  text-align: center;
  display: inline-table;
}
.tobaccolover {
  border: solid black;
  text-align: center;
  display: inline-table;
}
.moneyheist {
  border: solid black;
  text-align: center;
  display: inline-table;
}
.button {
  text-align: bottom;
  vertical-align: end;
}
