*{
    margin: 0;
    padding: 0;
}

td {

    border: 1px solid black;
}
th {

    border: 1px solid black;
}
.container{
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin:10px auto;
    max-width: 97%;

}
.red{
    background-color: red;
}
.green{
    background-color: green;
}